<%- include('layout.ejs'); %>
<div class="container">
<div class="row justify-content-center">
                    <div class="col-md-8">
                        <h2>NODE.JS MVC</h2>
                        <div class="card">
                            <div class="card-header">Register</div>
                            <div class="card-body">

                                <form class="form-horizontal" method="post" action="/select">

                                    <div class="form-group">
                                        <label for="origin" class="cols-sm-2 control-label">Your origin</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="origin" id="origin" placeholder="Enter origin" value="<%= typeof origin != 'undefined' ? origin : '' %>"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="destination" class="cols-sm-2 control-label">Your destination</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="destination" id="destination" placeholder="Enter destination" value="<%= typeof destination != 'undefined' ? destination : '' %>"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="seats" class="cols-sm-2 control-label">Your seats</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                <input type="number" class="form-control" name="seats" id="seats" placeholder="Enter seats" value="<%= typeof seats != 'undefined' ? seats : '' %>"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="args" class="cols-sm-2 control-label">Your args</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="args" id="args" placeholder="Enter preferred car (Leave blank for any)" value="<%= typeof args != 'undefined' ? args : '' %>"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Select Ride</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
</div>

</body>
</html>